
<div *ngIf="atUser()">
<a routerLink="/login" >Login to like this apartment</a>
</div>

<div *ngIf="!hasLiked() && !atUser()">
    <button (click)="liked()">Like</button>
</div>

<div>Number of Likes: {{ aptLikes }}</div>

<div>
    {{ apartment.address }}  
    <br>
    {{ apartment.city }}, {{ apartment.state }} {{ apartment.zip }}
  </div>
  
  <h2>Rent: ${{ apartment.rent }}</h2>

  <ul>
  <li>Square Footage:  {{ apartment.square_footage }}</li>
  <li>Bedrooms: {{ apartment.number_of_bedrooms }}</li>
  <li>Bedrooms: {{ apartment.number_of_bathrooms }}</li>
  </ul>
