<form (submit)="addUser()">
    <h1>Sign Up Here</h1>

  Email: <input type="email" name="email" placeholder="email" [(ngModel)]="email" required>
  <br>
  Password:<input type="password" name="number_of_bedrooms" placeholder="password" [(ngModel)]="password" required>
  <br>
  First Name: <input type="text" name="first_name" placeholder="first name" [(ngModel)]="first_name" required>
  <br>
  Last Name: <input type="text" name="last_name" placeholder="last name" [(ngModel)]="last_name" required>
  <br>

  <button>Register</button>
  </form>
